/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100%;
    background-color: rgb(0, 0, 0);
}

.flex{
    display: flex;
}

h2.titulo{
    color: rgb(255, 255, 255);
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #0187a7;
}

button:hover, form .btn-enviar input:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px #00CEFF;
}

.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #0187a7;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 42px;
}

/* ESTILO do HEADER */
header{
    padding: 40px 4%;
    transition: none;
}

header a{
    display: inline-block;
    transition: .2s;
}

header a:hover{
   color: #0187a7;
   transform: scale(1.05);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 15px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 400;
    margin-left: 50px;
}

.info-button button{
    border: none;
    background-color: #0187a7;
    padding: 10px 40px;
    border-radius: 30px;
    font-size: 18px;
    margin: 20px;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

.info-button button:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px #00CEFF;
}

.info-button button a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.7rem;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

/* ESTILO do MAIN */

section.topo-do-site{
    padding: 40px 4%;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.ctn-button button{
    border: none;
    background-color: #0187a7;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: rgb(255, 255, 255);
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site h1 span{
    color: #0187a7;
}

.topo-do-site p{
    color: rgb(255, 255, 255);
    margin: 40px 0;
    font-weight: 500;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    width: 550px;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO das ESPECIALIDADES */
section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
    color: white;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #0187a7;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
    color: rgb(255, 255, 255);
}

/* ESTILO do SOBRE */
.sobre .img-sobre img{
    width: 100%;
    border-radius: 30px;
}

section.sobre{
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
    color: white;
}

.sobre .txt-sobre h2 span{
    color: #0187a7;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
    color: #fff;
}

.btn-social ul{
    list-style-type: none;
    display: flex;

    gap: 40px;
}

.btn-social ul li{
    width: 80px;
    height: 80px;
    background-color: #000;

    border-radius: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    transition: .2s;
}
.btn-social ul li:hover{
    width: 180px;
}

.btn-social ul li span{
    position: absolute;
}

.btn-social ul li .icon{
    color: #ccc;
    font-size: 2.2em;
    transition: .2s;
}

.btn-social ul li .text{
    color: #ffffff;
    font-size: 20px;
    transform: scale(0);
    transition: .2s;
    transition-delay: .1s;
}

.btn-social ul li:hover .text{
    transform: scale(1);
}

.btn-social ul li:hover .icon{
    transform: scale(0);
}

.btn-social ul li::before{
    content: '';
    position: absolute;
    background-image: linear-gradient(45deg, var(--cor1), var(--cor2));
    inset: 0;
    opacity: 0;
    border-radius: 60px;
}

.btn-social ul li:hover::before{
    opacity: 1;
}

.btn-social2{
    visibility: hidden;
}

/* ESTILO do PORTFÓLIO */
section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #36353567;
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.315);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* ESTILO do FORMULÁRIO */
section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: rgba(104, 99, 99, 0.5);
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 300px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input[type=submit]{
    width: 120px;
    background-color: #0187a7;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO do FOOTER */

footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #36353567;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #0187a7;
}

footer .line-footer p i{
    color: white;
    font-size: 22px;
}

footer .line-footer p a{
    color: #fff;
}

footer a{
    transition: .2s;
}

footer a:hover{
   color: #0187a7;
   transform: scale(1.05);
}

@media screen and (max-width: 1020px) {

    /* MENU RESPONSIVO */
    .nav-bar{
        padding: 1.5rem;
    }
    .nav-item{
        display: none;
    }
    .info-button{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
        color: #000;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: .2s;
    }
    .mobile-menu-icon button:hover{
        transform: scale(1.05);
        box-shadow: none;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
        margin-left: -40px;
    }
    .mobile-menu .info-button{
        display: block;
        padding: 1rem;
        margin-left: -40px;
    }
    .mobile-menu .info-button button{
        width: 92%;
    }
    .contato-button{
        display: block;
    }
    .open{
        display: block;
    }

    /* MAIN RESPONSIVO */
    .flex{
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    .sobre .flex{
        flex-direction: column-reverse;
    }

    .topo-do-site .img-topo-site img{
        width: 100%;
    }

    /* TOPO do SITE */
    section.topo-do-site .flex{
        gap: 40px;
    }

    section.topo-do-site{
        padding: 20px 8%;
    }

    .topo-do-site h1{
        font-size: 30px;
    }

    /* ESTILO das ESPECIALIDADES */
    section.especialidades{
        padding: 40px 8%;
    }

    h2.titulo{
        font-size: 30px;
        line-height: 30px;
    }

    /* SOBRE */
    section.sobre{
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social{
        display: none;
    }

    .btn-social2 button{
        visibility: visible;
        border: none;
        background-color: #0187a7;
        padding: 5px 10px;
        border-radius: 40px;
        font-size: 38px;
        margin: 10px;
        cursor: pointer;
        color: #fff;
    }

    .btn-social2{
        text-align: center;
    }

    /* PORTFÓLIO */

    section.portfolio{
        padding: 80px 8%;
    }

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex{
        gap: 60px;
    }


    /* FOOTER */

    footer .flex{
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer{
        text-align: center;
    }
    

}
    